body {
	padding: 10px;
    font-size: 14px;
    color: #333333;
}


h1 {
	font-family: 'Playfair Display', serif;
	font-size: 30px;
	font-weight: normal;
	margin-top: 60px;
	padding-top: 60px;
}

article {
	width: 900px;
	height: 650px;
	padding: 50px 50px;
	background: white;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    padding: 0 20px;
}

p {
	font-family: 'Lato', sans-serif;
	margin-bottom: 20px;
    line-height: 22px;
    text-indent: 0px;
}

.text {
	margin: 50px;
}


.big-letter:first-letter {
	font-family: "Georgia", serif;
	font-size: 30px;
	text-indent:0;
	padding: 0px;
    padding-right: 8px;
    padding-bottom: 0;
    font-size: 76px;
    line-height: 60px;
}

p:first-child {
	padding: 20px 20px;
}

.third {
	margin-bottom: 0;
}

.symbol {
	margin-top: 20px;
	display: inline-block;
	padding-top: 10px;
	font-size: 60px;
	font-weight: bold;
}

.forth {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 20px;
    font-style: italic;
    display: inline-block;
}

input[type="submit"] {
    display: inline-block;
    padding: 10px 40px;
    color: #e86012;
    border: solid 1px #e86012;
    background-color: white;
    font-family: "Arial", non-serif;
    font-size: 20px;
    font-variant: small-caps;
    font-stretch: extra-expanded;
    margin-bottom: 60px;

}


.button {
    margin-top: 20px;
}





